.chat-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5em;
    gap: 10px 10px;
    grid-template-areas:
        "chat-log"
        "send-area";
    height: 100%;
}

.chat-log {
    grid-area: chat-log;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    flex-grow: 1;
    border: 2px solid gray; /* White border */
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    padding: 5px;
}

.chat-type-and-send {
    grid-area: send-area;
}

.expand-chat-box {
    position: absolute;
    left: 30em;
    bottom: 0px;
    z-index: 99;
    background-color: darkslategray;
    border-radius: 0.5em;
    padding: 0.7em;
}