.house-info {
    background-color: darkgray;
    color: white;
    position: absolute;
    left: 10vw;
    top: 10vh;
    width: 33em;
    border-radius: 10px;
    background-color: darkslategray;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
    gap: 10px;
    height: auto;
    min-height: 20em;
}

.production-building {
    width: 25em;
}

.headquarter-reserved-soldiers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}

.headquarter-inventory-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-end;
}

.production-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}
