.construction-info-window {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 33em;
}

.house-construction-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    gap: 10px;
    padding: 2em;
    align-items: center;
}

.house-construction-button {
    display: flex;
    flex-direction: column;
}

.house-construction-button:hover {
    filter: brightness(110%);
}

  .building-name-label {
    height: 2em;
}

.construction-info {
    display: flex;
    flex-direction: column;
    gap: 2em;
    min-height: 10em;
    height: auto;
    align-items: center;
    justify-content: space-between;

}

.dialog-section {
    margin-top: 0;
    margin-bottom: 0;
    max-height: 100%;
    width: 100%;
}

.dialog-section h3 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}
