.Row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.map-list {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 60vh;
}