.window {
    padding-left: 2em;
    padding-right: 2em;
    z-index: 999;
    background-color: darkslategray;
    border-radius: var(--dialog-rounded-corner);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* was space-between */
    margin: 0;
    gap: 1em;
    user-select: none;

    .h2 {
        text-align: left;
    }

    box-shadow: rgba(0, 0, 0, 0.50) 0px 3px 8px;
}

.window-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-height: 10em;
    height: auto;
    min-width: 0;     /* important */
    width: 100%;      /* helpful */
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
}

.hover-info-label {
    height: 2em;
    background-color: rgba(0, 0, 0, 0.50);
    width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Make dialogs occupy the full screen on small screens */
@media (max-width: 999px) {
    .window {
        position: absolute;
        left: 0;
        top: 0;
    }
}

/* Adjust for screens larger than mobile */
@media screen and (min-width: 1000px) {
    .window {
        position: absolute;
        width: 33em;
        height: auto;
        margin: 0;
        padding: 2em;
        box-sizing: border-box;
    }
}

.BottomButtons {
    display: flex;
    justify-content: center;
}

.button-row {
    display: flex;
    flex-direction: row;
    column-gap: 0.5em;
    flex-wrap: wrap;
    justify-content: center;
}
