.game-messages {

    position: absolute;
    z-index: 99;
    left: 0;
    bottom: 0;
    background-color: darkslategray;
    border-radius: 0.5rem;
    padding: 0.7rem;
    gap: 10px;
}

.game-message-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 80vh;
    gap: 10px;
}

.game-message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.info-overlay {
    background-color: crimson;
    border-radius: 8px;
    padding: 10px;
}

.game-messages-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}