.input-with-no-matches {
    color: red;
}

.match {
  display: inline-block;
  padding: 0px 6px;
  margin: 0px 1px;

  border-radius: 999px;

  background: rgba(100, 150, 255, 0.25);

  font-weight: 600;

  line-height: 1.4;
}

.MatchingPart {
    font-weight: bold;
}

.expanded {
    overflow-y: scroll;
    max-height: 70vh;
}

.type-control {
    position: absolute;
    z-index: 99;
    right: 0;
    bottom: 0;
    background-color: darkslategray;
    border-radius: 0.5rem;
    padding: 0.7rem;
    max-height: 75vh;
    width: 20em;
}

.alternative {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-end;
    width: 100%;
}

.alternative:hover {
    background-color: lightblue;
    cursor: pointer;
}

.container-alternatives {
    overflow: scroll;
    max-height: 70vh;
}