.music-player {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    background-color: darkslategray;
    border-radius: 0.5rem;
    padding: 0.7rem;
    width: 25em;
}

.music-player-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    gap: 10px;
}

.SongList {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 80vh;
}

.song-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.song-item:hover {
    background-color: lightblue;
    cursor: pointer;
}

.playing-song-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    width: 100%;
}

.playing-song-item:hover {
    background-color: lightblue;
    cursor: pointer;
}