:root {
    --high-light: #3333AA;
    --dialog-background-color: white;
    --high-light-error: #993333;
    --hover-color: orange;
    --button-color: lightgray;
    --disabled-color: gray;
    --selected-color: #333;
    --button-rounded-corner: 0.3rem;
    --button-margin: 0.5rem;
    --button-padding: 0.5rem;
    --dialog-rounded-corner: 1rem;
    --mobile-width: 1000px;
}

* {
    font-family: Verdana;
}

body {
    background-color: gray;
}

div {
    box-sizing: border-box;
}

.h1 {
    text-transform: capitalize;
}

.App {
    background-color: black;
    user-select: none;
    height: 100vh;
    width: 100%;
}

h1 {
    text-align: center;
}

.Disabled {
    color: var(--disabled-color) !important;
}

.Disabled:hover {
    background-color: var(--button-color) !important;
}

.Previous {
    float: left;
}

.Next {
    float: right;
}

.Next::after{
    content: "";
    clear: both;
    display: table;
}

.MenuButton {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 500;
    padding: 0.5rem;
    border-radius: var(--button-rounded-corner);
}

.MenuButtonBar {
    width: 3rem;
    height: 0.2rem;
    background-color: var(--button-color);
    margin: 0.4rem 0;
}

.App {
    text-align: center;
}
