:root {
    --high-light: #3333AA;
    --dialog-background-color: white;
    --high-light-error: #993333;
    --hover-color: orange;
    --button-color: lightgray;
    --disabled-color: gray;
    --selected-color: #333;
    --button-rounded-corner: 0.3rem;
    --button-margin: 0.5rem;
    --button-padding: 0.5rem;
    --dialog-rounded-corner: 1rem;
    --mobile-width: 1000px;
}

* {
    font-family: Verdana;
}

body {
    background-color: gray;
}

div {
    box-sizing: border-box;
}

.h1 {
    text-transform: capitalize;
}

.App {
    background-color: black;
    user-select: none;
    height: 100vh;
    width: 100%;
}

h1 {
    text-align: center;
}

.Button {
    cursor: pointer;
    margin: var(--button-margin);
    padding: var(--button-padding);
    text-align: center;
    border-radius: var(--button-rounded-corner);
    background-color: var(--button-color);
    color: white;
}

.Button:hover {
    background-color: var(--hover-color);
    border-radius: var(--button-rounded-corner);
}

.Disabled {
    color: var(--disabled-color) !important;
}

.Disabled:hover {
    background-color: var(--button-color) !important;
}

.Previous {
    float: left;
}

.Next {
    float: right;
}

.Next::after{
    content: "";
    clear: both;
    display: table;
}

.MenuButton {
    display: inline-block;
    cursor: pointer;
    background-color: white;
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 500;
    padding: 0.5rem;
    border-radius: var(--button-rounded-corner);
}

.MenuButtonBar {
    width: 3rem;
    height: 0.2rem;
    background-color: var(--button-color);
    margin: 0.4rem 0;
}

.MenuSectionLabel {
    text-align: left;
    width: 100%;
    margin-bottom: 0;
}

.MenuSectionContent {
    margin-top: 0;
    margin-bottom: 0;
}

.Menu * {
    margin: 1em auto;
    padding: 5px;
}

.Selected {
    background-color: var(--selected-color);
    color: whitesmoke;
}

.MediumIcon {
    width: 100px;
}

.SmallIcon {
    width: 50px;
}

.ConstructionItem {
    float: left;
}

.Choice {
    margin-right: var(--button-margin);
}

.Choice:hover {
    cursor: pointer;
    background-color: var(--hover-color);
    border-radius: var(--button-rounded-corner);
}

.Slider {
    display: flex;
}

.Slider .SliderScale {
    width: 100%;
    position: relative;
    margin: 0;
    background-color: lightgray;
}

.Slider .SliderLessLabel {
    display: inline-block;
    margin-right: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.Slider .SliderMoreLabel {
    display: inline-block;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.Slider .SliderIndicator {
    position: absolute;
    top: 0;
    background-color: var(--selected-color);
    width: 2rem;
    height: 100%;
    border-radius: 0.2rem;
    margin: 0;
    transform: translateX(-0.25rem)
}

.Slider .SliderIndicator:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.Slider .SliderLessLabel:hover {
    cursor: pointer;
}

.Slider .SliderMoreLabel:hover {
    cursor: pointer;
}

.App {
    text-align: center;
}
