.ConstructionInfoWindow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.house-construction-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    gap: 10px;
}

.house-construction-button {
    display: flex;
    flex-direction: column;
}
