.Dialog {
    padding-left: 2em;
    padding-right: 2em;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: darkslategray;
    border-radius: var(--dialog-rounded-corner);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.Dialog h2 {
    text-align: left;
}

.DialogSection {
    margin-top: 0;
    margin-bottom: 0;
    max-height: 100%;
    width: 100%;
}

.DialogSection h3 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}

/* Make dialogs occupy the full screen on small screens */
@media (max-width: 999px) {
    .Dialog {
        position: absolute;
        left: 0;
        top: 0;
    }
}

/* Adjust for screens larger than mobile */
@media screen and (min-width: 1000px) {
    .FloatingWindow {
        position: absolute;
        left: 20vw;
        top: 10vh;
        width: 40vw;
        height: 80vh;
        margin: auto;
    }

    .NonfloatingWindow {
        width: 40vw;
        height: 80vh;
        margin: auto;
    }
}

.BottomButtons {
    display: flex;
    justify-content: center;
}

.DialogCloseButton {
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
}