.follow-window {
    width: 40em;
    height: 20em;
}

.follow-content {
    align-self: stretch;
    position: relative;
    width: 100%;
    height: 100%;
}

.large {
    width: calc(600px * 1.68);
    height: calc(600px + 150px);
}

.medium {
    width: calc(500px * 1.68 + 150px);
    height: calc(500px + 150px);
}

.small {
    width: calc(400px * 1.68 + 150px);
    height: calc(400px + 150px);
}