.coin {
    height: 25px;
    width: 25px;
    background-color:yellow;
    border-radius: 50%;
    display: inline-block;
  }

  .coin-missing {
    height: 25px;
    width: 25px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
  }

  .ResourceNeedItem {

  }

  .ResourceNeedItem::first-letter {
    text-transform: uppercase;
  }

  .HouseActions {
    display: flex;
    flex-direction: row;
  }

  .HouseInformation {
    display: flex;
    flex-direction: column;
  }