#game-creation-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    padding: 20px;
    grid-template-columns: 20em 0.7fr 1.3fr 25em;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px 50px;
    grid-template-areas:
        "title title title title"
        "options-title players-title map-title chat-title"
        "options players map chat"
        ". start-or-cancel start-or-cancel .";
}

#title {
    grid-area: title;
    font-size: 5em;
    font-weight: bold;
    line-height: 1.2;        /* Adjusts line height for readability */
    color: white;
    margin: 0.5em 0;
}

#options-title {
    grid-area: options-title;
}

#options-title > h2 {
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;        /* Adjusts line height for readability */
    color: white;
    margin: 0.5em 0;
}

#options {
    grid-area: options;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#players-title {
    grid-area: players-title;
}

#players-title > h2 {
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;        /* Adjusts line height for readability */
    color: white;
    margin: 0.5em 0;
}

#players {
    grid-area: players;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

#map-title {
    grid-area: map-title;
}

#map-title > h2 {
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;        /* Adjusts line height for readability */
    color: white;
    margin: 0.5em 0;
}

#map {
    grid-area: map;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

#chat-title {
    grid-area: chat-title;
}

#chat-title > h2 {
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;        /* Adjusts line height for readability */
    color: white;
    margin: 0.5em 0;
}

#chat {
    grid-area: chat;
}

#start-or-cancel {
    grid-area: start-or-cancel;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

#worker-animation {
    position: absolute;
    right: 50px;
    bottom: 50px;
}

#select-map {
    padding: 20px 20px 20px 20px;
}

.set-game-name-label {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
}