.GameItem .Title {
    margin-right: var(--button-margin);
    text-align: left;
}

.GameItem .Button {
    margin-right: var(--button-margin);
}

.GameItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.GameItemButtons{
    display: flex;
    flex-direction: row;
}

.GameList {
    width: 100%;
    height: 80%;
    overflow-y: auto;
}