.GameOptionsContainer {
    padding: 1em;
}

.ResourceButtons {
    float: right;
}

.ResourceButton {
    float: right;
    vertical-align: middle;
}

.ResourceLable {
    float: left;
    vertical-align: middle;
}

.Label {
    float: left;
    margin-right: 4em;
}

.OthersCanJoinSlider {
    float: right;
}