.game-creation-screen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
}

.create-game-columns {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;

    height: 90%;
    width: 100%;
}

.players-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 30%
}

.options-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 10%;
}

.map-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}

.start-or-cancel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

#worker-animation {
    position: absolute;
    right: 50px;
    bottom: 50px;
}

#select-map {
    padding: 20px 20px 20px 20px;
}

.set-game-name-label {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
}