.GameItem .Title {
    margin-right: var(--button-margin);
    text-align: left;
}

.GameItem .Button {
    margin-right: var(--button-margin);
}

.GameItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.GameItemButtons{
    display: flex;
    flex-direction: row;
}

.games-list {
    width: 60vw;
    height: 60vh;
    overflow-y: scroll;
}