.GameItem .Title {
    float:left;
    width: 60%;
    margin-right: var(--button-margin);
    text-align: left;
}

.GameItem .Button {
    float:left;
    margin-right: var(--button-margin);
    width: 10%;
}

.GameItem:before,
.GameItem:after {
    content: "";
    display: table;
}

.GameItem:after {
    clear: both;
}

.GameItem {
    clear: both;
}

.GameList {
}