.GameCreationScreen {
    background-color: white;
}

.SetGameNameLabel {
    display: flex;
    flex-direction: row;
}

.CreateGameColumns {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 80%;
    width: 100%;
}

.PlayersAndOptions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}

.MapColumn {
    display: flex;
    flex-direction: column;
}

.SmallMapSelection {
    height: 40vh;
    overflow-y: auto;
}

.FullMapSelection {
    height: 70vh;
    overflow-y: auto;
}