.inventory-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
}

.inventory-material-amount-pair {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 30px;
}

.InventoryLabelValuePair :hover {
    background-color: gray;
}

.InventoryLabel {}

.InventoryValue {
    text-align: right;
}