.InventoryList {
    display: flex;
    flex-direction: column;
}

.InventoryLabelValuePair {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.InventoryLabelValuePair :hover {
    background-color: gray;
}

.InventoryLabel {}

.InventoryValue {
    text-align: right;
}