#center-on-screen {
    /*background-color: white;*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
}

#list-games-or-create-new {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: flex-end;
    gap: 10px;
}

#worker-animation {
    position: absolute;
    right: 50px;
    bottom: 50px;
}
