.Row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.MapListItem {
    margin-bottom: 0.5rem;
}

.MapInformationCard {
    width: 100%;
    max-height: 5rem;
}

.MapList {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}