.Row > .MapTitle {
    float: left;
}

.Row > .MapButtons {
    float: right;
}

.MapInformationCard {
    float: left;
    width: 75%;
    display: table;
}

.MapSelectButton {
    float: right;
    width: 7em;
}