.MapCardTitle {
    width: 50%;
    vertical-align: top;
    text-align: left;
}

.ExpandCollapseButton {
    width: 10em;
    vertical-align: top;
}

.MapThumbnail {
}

.MapCardAttributes {
}

.MapCardAttribute {
    text-align: left;
}