.Row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Row.MapListItem {
    margin-bottom: 0.5rem;
}

.Row > .MapTitle {
}

.Row > .MapButtons {
}

.MapInformationCard {
    width: 75%;
}

.MapSelectButton {
    width: 7em;
}