.MapCardTitle {
    width: 50%;
    vertical-align: top;
    text-align: left;
}

.ExpandAndSelectButtons {
    width: 7em;
    vertical-align: top;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.MapThumbnail {
}

.MapCardAttributes {
}

.MapCardAttribute {
    text-align: left;
}

.MapCardTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}