.OnOffContainer {
    width: 5em;
    background-color: lightgray;
    margin: 0;
    height: 2em;
}

.OnOffMarker {
    width: 2em;
    background-color: var(--selected-color);
    height: 100%;
    cursor: pointer;
    border-radius: 0.2rem;
}

.OnOffMarker:hover {
    background-color: var(--hover-color);
}

.On {
    float: right
}

.Off {
    float: left
}
