.OnOffContainer {
    width: 4em;
    background-color: lightgray;
    margin: 0;
    height: 2em;
    border-radius: 0.4rem;
}

.OnOffMarker {
    width: 2em;
    background-color: var(--selected-color);
    height: 100%;
    cursor: pointer;
    border-radius: 1rem;
}

.OnOffMarker:hover {
    background-color: var(--hover-color);
}

.On {
    float: right
}

.Off {
    background-color: var(--disabled-color);
    float: left
}
