.PlayerNameLabel {
    text-align: left;
}

.SetNameLabel {
    float: left;
    width: 10em;
    text-align: left;
}

.SetNameField {
    margin-right: var(--button-margin);
    vertical-align: middle;
    float: left;
    width: 7em;
}

.SetNameButton {
    margin-right: var(--button-margin);
    vertical-align: middle;
    float: right;
    width: 3em;
}

.RemovePlayerButton {
    
}