.PlayerList .Player {
    border-radius: var(--button-rounded-corner);
    width: 15em;
    margin: var(--button-margin);
    background-color: lightblue;
    color: white
}

.PlayerList .Button {
    margin-right: var(--button-margin);
}

.PlayerList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
