.PlayerList .Player {
    border-radius: var(--button-rounded-corner);
    float:left;
    width: 15em;
    margin: var(--button-margin);
    background-color: lightblue;
    color: white
}

.PlayerList .Button {
    float:left;
    margin-right: var(--button-margin);
}

.PlayerList:before,
.PlayerList:after {
    content: "";
    display: table;
}

.PlayerList:after {
    clear: both;
}

.PlayerList {
    clear: both;
}
