#stats-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#stats-parent {
    flex: 1 0 40%;
}

.select-materials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}