.input-with-no-matches {
    color: red;
    min-width: 10em;
}

.input-with-matches {
    min-width: 10em;
}

.MatchingPart {
    font-weight: bold;
}

.expanded {
    overflow-y: scroll;
    max-height: 70vh;
}

.type-control {
    position: absolute;
    z-index: 99;
    right: 0;
    bottom: 0;
    background-color: white;
    color: black;
    border-radius: 0.5rem;
    padding: 0.7rem;
    max-height: 75vh;
}

.alternative {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.alternative:hover {
    background-color: lightblue;
    cursor: pointer;
}

.container-alternatives {
    overflow: scroll;
    max-height: 70vh;
    gap: 5px;
    display: flex;
    flex-direction: column;
}